<div class="landing-layout fade-in-on-load-slow">
  <div class="landing-greeting-layout">
    <div class="landing-greeting">
      <div class="large-text">
        Hi, I'm Jani Härkönen
        <br />
        Welcome to my homepage!
      </div>
    </div>
  </div>

  <!--<div class="landing-tech-info-layout">
    <div class="landing-tech-info">
      <div>
        Written using:
      </div>
      <div class="landing-tech-stack-layout">
        <app-technology-stack 
          [order]="getTechnologies()"
        />
      </div>
    </div>
  </div>-->
</div>  
