.site-header-layout {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header {
  height: 75%;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 10px;

  border-style: solid;
  border-width: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.site-header-tab-button {
  display: flex;
  align-items: center;
  overflow: hidden;

  border-width: 0px;
  border-style: solid;
  border-bottom-width: 3px;

  margin: 5px;

  background-color: white;
  color: black;
  font-size: 16px;
}

.site-header-button-highlight {
  border-radius: 13px;
  padding: 10px;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    background-color: #f8f5ec;
  }
}

@media (max-width: 400px) {
  .site-header {
    gap: 0px;
  }

  .site-header-tab-button {
    font-size: 15px;
  }

  .site-header-button-highlight {
    padding: 0px;
  }
}
