.project-carousel-layout {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
}

.project-card-layout {
  display: grid;
  height: 100%;

  grid-gap: 20px;
  grid-row: 1 / 10;
}

.project-card-description {
  display: grid;
  overflow-y: hidden;
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
}

.project-card-description-caption-layout {
  grid-row: 1 / 2;
}

.project-card-description-text-layout {
  grid-row: 2 / 11;
  overflow-y: auto;
}

.project-card-description-text {
  background-color: black;
  color: white;
}

.project-card-expand-button {
  float: right;

  width: 100px;

  margin: 10px;
}

.project-card-video {
  /*border-style: solid;
  border-width: 1px;
  padding-right: 1px;*/
  height: 80%;
}

.project-carousel-timeline {
  grid-row: 10 / 11;
}


@media screen and (max-width: 825px) {
  .project-card-layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 826px) {
  .project-card-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-carousel-timeline {
    grid-row: 8 / 9;
  }

  .project-card-layout {
    grid-row: 1 / 7;
  }
}
