<div class="project-carousel-layout">
  <div>
    <img class="width-100 height-100" src="../../../assets/images/missing-image.png">
  </div>
  <div>
    <p>
      hello this is some test text that just goes on and on and on and on and on like when the heck is this gonna end
      and to that question i must answer i dont know maybe it ends in the next sentence or the next paragraph or the 
      next word or the next character or something 
    </p>
    <p>
      but one thing is for certain and that is that nothing is for certain
    </p>
  </div>
</div>