.project-carousel-layout {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
}

.project-card-layout {
  display: grid;
  height: 100%;

  grid-gap: 20px;
  grid-row: 2 / 10;
}

.project-card-description {
  height: 100%;
  overflow-y: scroll;
}

.project-card-video {
  border-radius: 5px;
  padding: 5px;
  background-color: black;
}

.project-carousel-timeline {
  grid-row: 10 / 11;
}


@media screen and (max-width: 825px) {
  .project-card-layout {
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
}

@media screen and (min-width: 826px) {
  .project-card-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .project-carousel-timeline {
    grid-row: 8 / 9;
  }

  .project-card-layout {
    grid-row: 2 / 7;
  }
}
