.project-carousel-layout {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.project-card-layoutOLD {
  height: 100%;
  
  display: grid;
  /* GRID TEMPLATE COLUMNS ARE SPECIFIED IN MEDIA QUERIES BELOW */
  grid-gap: 20px;
  grid-row: 1 / 10;
}

.project-card-layout {
  height: 100%;

  display: grid;
  gap: 20px;
}

.project-card-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.project-card-description-layout {
  height: 100%;
  overflow-y: hidden;

  display: grid;
  grid-template-rows: auto 1fr;
}

.project-card-controls-layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.project-card-description-wrapper {
  overflow-y: auto;
}

.project-card-description-containerOLD {
  display: grid;
  /* GRID TEMPLATE COLUMNS ARE SPECIFIED BY THE ANIMATION IN THE .TS */
  height: 100%;
  overflow-y: hidden;
}

.project-card-expand-button {
  width: 100px;

  margin: 10px;
}

.project-carousel-timeline {
  display: flex;
  justify-content: center;
  align-items: start;
}


@media screen and (max-width: 1050px) {
  .project-carousel-layout {
    overflow-y: auto;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .project-card-description-layout {
    overflow-y: visible;
    grid-row: 3 / 4;
  }

  .project-card-description-wrapper {
    overflow-y: visible;
  }

  .project-card-controls-layout {
    grid-row: 2 / 3;
  }
}
