<div class="fade-in-on-load d-flex justify-content-center height-100">
  <div class="width-80-responsive contact-page-layout">
    <div class="contact-caption-layout">
      <h1>Contact me</h1>
    </div>
    <div class="contact-text-layout">
      <b>LinkedIn</b><br/>
      <b>E-mail:</b> jani.harkonen.cv&#64;gmail.com <br/>
      <b>paypal:</b> jani.harkonen.real&#64;gmail.com | Please donate!!!!<br/>
      <b>bitcoin wallet:</b> 51256fds6fwe1fwedf0we45d1we | minimum donation: 0.5BTC
    </div>
  </div>
</div>
