.about-content-layout {
  height: 100%;

  display: grid;
  grid-template-columns: minmax(166px, 25%) 1fr;
  gap: 20px;
}

.about-face-image-layout {
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: white;
}

.about-face-image {
  width: 100%;
  aspect-ratio: 500 / 750;
}

.about-tech-stack-layout {
  /*width: 50%;*/
}

@media screen and (max-width: 500px) {
  .about-content-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .about-face-image {
    width: 166px;
  }
}

/*
@media screen and (max-width: 400px) {
  .about-face-image-layout {
    width: 100%;
    height: 250px;

    margin-left: 0px;
    margin-right: 0px;
  }

  .about-face-image {
    width: 166px;
    max-height: 250px;
  }
}
*/
