:host {
  display: block;
  height: 100dvh;
}

.app-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.top-level-layout {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 80%;
}

.header-layout {
  grid-row: 1 / 2;
}

.wrapper-layout {
  height: 100%;
  grid-row: 2 / 11;
}

@media screen and (max-width: 600px) {
  .top-level-layout {
    width: 100%;
  }
}
