.popup-link-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(9%) 
    sepia(100%) 
    saturate(7174%) 
    hue-rotate(248deg) 
    brightness(81%) 
    contrast(140%);
}
