.tech-stack-layout {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
}

.tech-stack-icon-layout {
  width: 84px;
  height: 100px;
}

.tech-stack-icon-caption-layout {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
