.tech-stack-layout {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.tech-stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-stack-icon-layout {
  width: 48px;
  height: 48px;
}

.tech-stack-icon-caption-layout {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
